$brand-colors: (
	youtube: #f00,
	soundcloud: #FF3300,
	filimo: #f79502,
	namava: #2f477d,
	npm: #CB3837
);

.xlink {
	border-radius: $radius;
	padding: 1.5rem;
	&, & * {
		color: #fff
	}
	@each $brand, $color in $brand-colors {
		&.is-#{ $brand } {
			background-image: linear-gradient(60deg, $color, lighten(saturate($color, 17%), 20%))
		}
	}
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	&.is-centered {
		align-items: center;
	}
	justify-content: center;
	> img {
		display: block;
		margin: 0 auto;
		max-width: 64px;
	}
	box-shadow: 0 3px 7px -1px #0003;
	transition: .12s $easing;
	&:any-link, &.is-clickable {
		cursor: pointer;
		&:hover, &:focus {
			box-shadow: 0 9px 50px -6px #0006
		}
	}
}
