@mixin ff($weight, $name) {
	@font-face {
		font-family: IRANSans;
		font-style: normal;
		font-weight: $weight;
		font-display: swap;
		src: url('../assets/fonts/eot/IRANSansWeb#{$name}.eot');
		src: url('../assets/fonts/eot/IRANSansWeb#{$name}.eot?#iefix') format('embedded-opentype'),  
			 url('../assets/fonts/woff2/IRANSansWeb#{$name}.woff2') format('woff2'),  
			 url('../assets/fonts/woff/IRANSansWeb#{$name}.woff') format('woff'),  
			 url('../assets/fonts/ttf/IRANSansWeb#{$name}.ttf') format('truetype');
	}
}

@include ff(700, '_Bold');
@include ff(500, '_Medium');
@include ff(300, '_Light');
@include ff(normal, '');