@import "../../node_modules/bulma/sass/utilities/initial-variables.sass";

// colors
$white-ter: #f1f1f1;
$red: #ff2919;
$orange: #ff8d05;
$primary: #88061d;
$link: $orange;

// font
$family-sans-serif: 'IRANSans', sans-serif;
$weight-semibold: 500;

// transitions
$speed: 125ms;
$easing: cubic-bezier(.2, 0, .4, 1);

// spacing
$gap: 72px;
$radius: 5px;
$section-padding: 1.8rem;
$radius-small: 2.5px;
$radius-large: 10px;

// components
$box-shadow: 0 3px 10px -3px #0002;
$box-link-hover-shadow: 0 5px 30px -7px #0003, inset 0 0 0 1px $link;
$box-link-active-shadow: 0 5px 30px -7px #0005, inset 0 0 0 2px $primary;

//light theme
$body-background-color: mix($white-ter, $white);

// dark theme
// $border: $black;
// $body-background-color: $black-bis;
// $background: $black-ter;
// $link-hover: $grey-lighter;
// $text: $white-ter;
// $text-strong: $white;
// $title-color: $text-strong;
// $box-background-color: $black-ter;
// $input-color: $text;
// $input-background-color: lighten($grey-darker, 5%);
// $input-border-color: $grey;
// $label-color: $text-strong;
// $card-background-color: $grey-darker;
// $modal-card-body-background-color: $grey-darker;
