@import "../../node_modules/bulma/sass/utilities/initial-variables.sass";

// colors
$purple: #673ab7;
$primary: $purple;
$link: mix($purple, $cyan);

// font
$family-sans-serif: 'IRANSans';
$weight-semibold: 500;

// transitions
$speed: 125ms;
$easing: cubic-bezier(.2, 0, .4, 1);

// spacing
$gap: 72px;
$radius: 5px;
$radius-small: 2.5px;
$radius-large: 10px;

// dark theme
$border: $black;
$body-background-color: $black-bis;
$background: $black-ter;
$box-shadow: 0 2px 5px -1px #0007;
$link-hover: $grey-lighter;
$text: $white-ter;
$text-strong: $white;
$title-color: $text-strong;
$box-background-color: $black-ter;
$input-color: $text;
$input-background-color: lighten($grey-darker, 5%);
$input-border-color: $grey;
$label-color: $text-strong;
$card-background-color: $grey-darker;
$modal-card-body-background-color: $grey-darker;
