* {
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
	outline: none;
}

@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,500,700');
@import "iransans";

$body-family: 'IRANSans';

@import "../../node_modules/bulma/sass/utilities/_all";
@import "../../node_modules/bulma/sass/base/_all";
@import "../../node_modules/bulma/sass/elements/button";
@import "../../node_modules/bulma/sass/elements/container";
@import "../../node_modules/bulma/sass/elements/box";
@import "../../node_modules/bulma/sass/elements/form";
@import "../../node_modules/bulma/sass/elements/title";
@import "../../node_modules/bulma/sass/components/modal";
@import "../../node_modules/bulma/sass/components/card";
@import "../../node_modules/bulma/sass/layout/section";
@import "../../node_modules/bulma/sass/layout/hero";
@import "../../node_modules/bulma/sass/grid/_all";
@import "home";
@import "material-icons";

.control {
	text-align: right;
}