* {
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
	outline: none;
}

@import "iransans";
@import "vars";
@import "../../node_modules/bulma/sass/utilities/_all.sass";
@import "../../node_modules/bulma/sass/base/_all.sass";
@import "../../node_modules/bulma/sass/elements/button.sass";
@import "../../node_modules/bulma/sass/elements/container.sass";
@import "../../node_modules/bulma/sass/elements/box.sass";
@import "form";
@import "../../node_modules/bulma/sass/elements/title.sass";
@import "../../node_modules/bulma/sass/elements/image.sass";
@import "../../node_modules/bulma/sass/components/modal.sass";
@import "../../node_modules/bulma/sass/layout/section.sass";
@import "../../node_modules/bulma/sass/layout/hero.sass";
@import "../../node_modules/bulma/sass/grid/columns.sass";

:root {
	overflow-y: auto;
}

.control {
	text-align: right;
}

.modal {
	padding: 0 1rem;
}

.modal-card-foot {
	justify-content: flex-end;
	.button:not(:last-child) {
		margin-right: 0;
		margin-left: 10px;
	}
}

.buttons {
	flex-direction: row-reverse;
}